Open.MOF.BizTalk.Test/Service References/WcfMessagingCallbackService.IMessagingCallback/CallbackService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mof.open/Messaging/ServiceContracts/1/0/" elementFormDefault="qualified" targetNamespace="http://mof.open/Messaging/ServiceContracts/1/0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>